
<p id="notice"><%= notice %></p>

<h1>User Information</h1>

<ul class="list-group">
  <li class="list-group-item">First Name:
    <%= @user.fname %>
  </li>
  
  <li class="list-group-item">Last Name:
    <%= @user.lname %>
  </li>
  
  <li class="list-group-item">Email:
    <%= @user.email %>
  </li>
  
  <li class="list-group-item">Thumbnail:
    <%= @user.thumbnail %>
  </li>

</ul>

<%= link_to edit_user_path(@user), class: "btn btn-default btn-sm" do %>Edit
<% end %>

<%= link_to users_path, class: "btn btn-default btn-sm" do %>Back
<% end%>

 
